<html>

<head>
    <script src="./resources/tether.js"></script>
    <link href="./docs.css" rel="stylesheet" type="text/css">
    <script src="./resources/jquery.js"></script>
    <script src="./resources/vue.js"></script>
    <script type="text/javascript" src="./resources/fuse.js"></script>
    <link href="./resources/bootstrap.css" rel="stylesheet">
    <script src="./resources/clipboard.js"></script>
    <script src="./resources/bootstrap.js"></script>
    <title>WoofJS Documentation</title>
</head>

<body>
    <div id="body">
        <div :style="menuStyles" id="menus">
            <div class="btn-group search">
                <button v-show="open != undefined || search != ''" @click="search = ''; open = undefined" id="back" class="highlight btn btn-medium btn-info">Back</button>
                <input  id="searchbar" type="search" class="form-control" placeholder="Search blocks..." v-model="search"></input>
        </div>
        <div :style="menuItem" v-for="(blocks, menu) in searched(menus)">
            <template v-if="menu != 'Sprites & Backgrounds' && menu != 'Integrations' "> 
                <button v-show="open == undefined || open == menu || search" :class="{highlight: !search}" class="all" :id="menu.split(' ')[0]" @click="toggle(menu)">{{ menu }}</button>
                <div v-show="open == menu || search" class="list" v-for="block in blocks">
                      <vue-block :block="block"></vue-block>
                </div>
            </template>
            <template v-else>
                <button v-show="open == undefined || open == menu || search" :class="{highlight: !search}" class="all" :id="menu.split(' ')[0]" @click="toggle(menu)">{{ menu }}
                </button>
                <div v-show="open == menu || Object.keys(blocks).includes(open) || search" class="list">
                    <div class="list" v-for="(blocks2, submenu) in blocks">
                        <button v-show="open == menu || open == submenu || search" :class="{highlight: !search}" class="all" :id="submenu.split(' ')[0]" @click="toggle(submenu)">{{ submenu }}
                        </button>
                        <div v-show="open == submenu || search" class="list">
                            <div class="list" v-for="block2 in blocks2">
                                <vue-block :block="block2"></vue-block>
                            </div>
                        </div>
                    </div>    
                </div>    
            </template>
            </div>
        </div>
    </div>
    <script src="./docs.js"></script>
    <script id="block-template" type="text/x-template">
        <div class="block">
            <div v-if="block.integrationDescription" class="alert" :class='block.integrationDescriptionClass' role='alert'>{{ block.integrationDescription }}<br v-if="block.integrationDocumentationLink"><br v-if="block.integrationDocumentationLink">
              <a v-if="block.integrationDocumentationLink" target='_blank' class="btn btn-primary" :href="block.integrationDocumentationLink" role="button" style="width:100%;">Full Documentation</a>
            </div>
            <img v-if="block.url" ondragstart="event.dataTransfer.setData('text/plain', event.target.alt)" :alt="block.code" :src="block.url">
            <div v-if="block.sound" class="play-sound">
              <img v-if="!playing" src="./images/play.png" width="30" @click="playSound(block.sound)">
              <img v-else src="./images/pause.png" width="30" @click="stopSound(block.sound)">
            </div>
            <div v-if="block.description">{{ block.description }}</div>
            <div v-if="block.html" v-html="block.html"></div>
            <div v-if="block.code">
                <span data-toggle="tooltip" title="Copied!" :data-clipboard-text="block.code" class="btn-clipboard">Copy</span>
                <pre><code v-html="highlight(block.code)"></code></pre>
            </div>
        </div>
    </script>
    <script src="./docs2.js"></script>
</body>

</html>
